*{
    margin: 0;
    padding: 0;
}

header{
    background-color: thistle;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

section{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    margin: 10px 0;
    padding: 10px 20px;
}

div{
    padding: 30px;
}

*{
    margin: 0;

}
header{
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    background-color: black;
    color: white;
    position: relative;
}

ul li{
list-style: none;
}

.texto{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.lista{
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgb(99, 72, 72);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}


#menu{
    display: none;
}

.lista-item{
    padding: 12px 0;
}

@media screen and (min-width: 1024px) {
.lista{
right: 8%;
width: 14%;
padding: 20px;
text-align: start;
}
.lista-item:hover{
    background-color: rgb(119, 51, 51);
}0
}0
    
