*{
    margin: 0;
    padding: 0;
}

header{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

section{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    color: aqua;
    margin: 10px 0;
    padding: 10px 20px;
}

div{
    padding: 30px;
}






















































header{
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    background-color: rgb(238, 231, 130);
    color: rgb(0, 0, 0);
    position: relative;
    
}

ul li{
    list-style: none;
}

.texto{
    color: rgb(255, 254, 254);
}

a{
    color: rgb(23, 39, 184);
    text-decoration: none;
}

.lista{
    display: none;
    position: absolute;
    top: 100%;
    padding: 20px 0;
    text-align: center;
}

 
.caixa:checked ~ .lista{
display: block;
}


#menu{
    display: none;
}

.lista-item{
    padding: 12px 0;
}

footer {
	background-color: rgb(78, 36, 2);
	color: #ffffff;
    
} 