*{
    margin: 0;
}
header{display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    background-color: rgb(105, 63, 10);
    color: bisque;
    position: relative;
}

ul li{
    list-style: none;
}

.texto{
    color: black;
}

a{
    color: rgb(99, 72, 72);
    text-decoration: none;
}

.lista{
    display: none;
    position: absolute;
    top: 100;
    background-color: bisque;
    width: 100;
    padding: 20 0;
    text-align: center;
}

.caixa:checked .lista{
    display: block;
}


#menu{
display: none;
}

.lista-item{
    padding: 12 0;
}